::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.marg {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.colp {
    padding: 0px 0px;
}

.Jumbotron div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Jumbotron div h1 {
    font-weight: bold;
}

.weather-section {
    height: 150vh;
}

#weather-header {
    margin: 40px auto;
}

#weather-info {
    background: rgb(237, 237, 237, 0.7);
    border-radius: 5px;
    width: 70%;
    margin: 50px auto;
    padding: 20px 40px;
    font-size: 17px;
}

.MuiFormControl-fullWidth {
    width: 100% !important;
}

input:-internal-autofill-selected {
    background-color: transparent !important;
    background: transparent !important;
}

@-webkit-keyframes autofill {
    to {
        color: black;
        background: transparent;
    }
}

a:link, a:hover {
    text-decoration: none;
}


input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.MuiFormControl-root, .MuiTextField-root, .MuiFormControl-fullWidth {
    width: 100% !important;
}
